* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(170, 210, 54);
  --white-color: #ffffff;
  --section-padding: 40px;
}

/*======================================================================

=======================>>     header     <<=============================

=======================================================================*/

header {
  height: 77px;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: white;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 77px;
}

.logo {
  height: 77px;
  display: flex;
  align-items: center;
}

header nav img {
  width: 40px;
}

header nav #menu-items .menu-items {
  display: flex;
  justify-content: center;
}

header nav #menu-items .menu-items li {
  list-style: none;
  margin-left: 24px;
  position: relative;
}

header nav #menu-items .menu-items ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -12px;
  background-color: white;
  padding: 0;
}

header nav #menu-items .menu-items ul li {
  margin: unset;
  padding: 0 1rem;
  height: 60px;
  border-bottom: 1px #cfcfcf solid;
  line-height: 60px;
}

header nav #menu-items .menu-items ul li:last-child {
  border-bottom: none;
}

header nav #menu-items .menu-items ul li a {
  padding: 1.5rem;
}

header nav #menu-items .menu-items ul li:hover {
  background-color: var(--main-color);
  a {
    color: var(--white-color);
  }
}

header nav #menu-items a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-size: 600;
  text-transform: capitalize;
  position: relative;
}

header nav #menu-items .button a {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);
  padding: 9px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

header nav #menu-items .services:hover ul {
  display: block;
}

.menu-btn {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.5s ease;

  div {
    width: 80%;
    height: 4px;
    border-radius: 3px;
    background: var(--main-color);

    position: relative;
    transition: all 0.5s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;

      width: 50%;
      height: 4px;
      border-radius: 3px;
      background: var(--main-color);

      transition: all 0.5s ease;
      transform-origin: center;
    }

    &::before {
      top: -12px;
    }

    &::after {
      top: 12px;
      right: 0;
    }
  }
}

.close {
  div {
    transform: rotate(225deg);

    &::before {
      transform: rotate(90deg);
      width: 100%;
      top: 0px;
    }

    &::after {
      opacity: 0;
    }
  }
}

/*======================================================================

=======================>>  landding page  <<=============================

=======================================================================*/

main {
  position: relative;
}

main #back {
  background: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 77px);
  position: relative;
  padding-bottom: var(--section-padding);
}

main #back .landing-message {
  max-width: 780px;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main #back .landing-message h3 {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 1.7;
}

main #back .landing-message p {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.4;
  color: #8b8b99;
}

/*======================================================================

=======================>> advices section <<=============================

=======================================================================*/

#secend .container {
  padding: 90px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 16px;
}

#secend .container div {
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 4px;
}

#secend .container div:nth-last-of-type(4) {
  background-color: var(--main-color);
}

#secend .container div:nth-last-of-type(3) {
  background-color: olivedrab;
}

#secend .container div:nth-last-of-type(2) {
  background-color: #4fffb0;
}

#secend .container div:nth-last-of-type(1) {
  background-color: #008b8b;
}

#secend .container i {
  color: white;
  font-size: 60px;
  align-items: center;
  margin: 24px 0px;
  transition: all 0.2s ease-out;
}

#secend .container div h3 {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 24px;
}

#secend .container div p {
  word-wrap: normal;
}

#secend .container div:hover i {
  transform: scale(1.2);
}

/*======================================================================

==================>> what make us better section <<======================

=======================================================================*/

#third-section {
  background-color: #f7eee2;
  padding: 90px 0;
}

#third-section #store {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem 1rem;
}

#third-section #store div {
  text-align: center;
  margin-top: 32px;
}

#third-section #store div h2 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px;
  color: #232323;
}

#forth-section {
  background-color: #f7eee2;
}

#forth-section h1,
#forth-section h4,
#forth-section p {
  text-align: center;
}

#third-section h1,
#third-section h4,
#third-section p {
  text-align: center;
}

#third-section h4,
#third-section h1,
#third-section p,
#forth-section h4,
#forth-section h1,
#forth-section p {
  padding-bottom: 12px;
}

#third-section h4,
#forth-section h4 {
  color: var(--main-color);
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0px;
}

#third-section h1,
#forth-section h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
}

#third-section p,
#forth-section p {
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
}

#third-section #store div .fa {
  background-color: #e3b375;
  font-size: 32px;
  padding: 15px;
  margin: 24px;
  border-radius: 84px;
  transition: all 0.2s ease-in;
  overflow: hidden;
}

#third-section #store div:hover .fa {
  transform: scale(1.2);
}

#fifth-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  padding: 80px 0;
}

#fifth-section .members {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #f5f6fb;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 42px 32px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin: 0px auto;
}

#fifth-section .members:hover {
  box-shadow: 0px 6px 6px #f5f6fb;
}

#fifth-section .members:nth-last-of-type(2) {
  margin: 30px 0px;
}

#fifth-section .members img {
  border-radius: 50%;
  width: 80px;
  margin: 32px;
}

#fifth-section .members p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
}

#fifth-section .members h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin: 24px 0px 0px 0px;
}

/*======================================================================

=======================>>  video section  <<=============================

=======================================================================*/

#video-sec h2 {
  text-align: center;
  color: #8b8b99;
}

#video-sec {
  text-align: center;
  padding: 0 0 80px 0;
}

#video-sec video {
  width: 100%;
}

hr {
  width: 62px;
  color: tomato;
  margin: 32px auto 40px;
}

#ks {
  padding: 80px 0;
}

#ks .container {
  display: flex;
  justify-content: space-around;
  background-color: #f1fffa;
  text-align: center;
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

#ks .container h3 {
  font-size: 42px;
}

#ks .container p {
  color: #57e3b5;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: italic;
  padding: 0px 32px;
}

/*======================================================================

=====================>>  subscribe section  <<==========================

=======================================================================*/

#subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#subscribe h3 {
  font-size: 48px;
}

#subscribe #right {
  background: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
  background-size: cover;
}

#subscribe #right input {
  max-width: 360px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  padding: 14px;
  margin-top: 24px;
  font-size: 14px;
  border: none;
}

#subscribe #right button {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: rgb(233, 101, 101);
  padding: 14px 20px;
  margin: 8px 0px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

#subscribe #right button:hover {
  border: 1px solid rgb(233, 101, 101);
  background-color: white;
  color: rgb(233, 101, 101);
}

#subscribe #left img {
  width: 100%;
}

#con {
  padding: 80px 0 80px 32px;
  max-width: 360px;
}

#con p {
  word-wrap: break-word;
}

#figer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 30px;
}

#figer button {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);
  padding: 14px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 12px 0px;
}

#figer input,
#figer #text-eara {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 12px 18px;
  margin: 4px 0px;
  font-size: 16px;
}

#figer #h2 {
  color: var(--main-color);
  font-size: 18px;
  font-family: "Caveat", cursive;
  margin: 12px 0px;
  font-style: italic;
}

#figer h1 {
  font-size: 42px;
  font-weight: 900;
}

#figer p {
  color: #8b8b99;
  margin: 12px 0px;
  line-height: 24px;
}

#figer h4 {
  margin-top: 42px;
  font-size: 24px;
  line-height: 14px;
}

/*======================================================================

=======================>> footer section <<=============================

=======================================================================*/

footer {
  background: #232323;
  margin-top: 32px;
}

footer p {
  height: 60px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-weight: 100;
}

@media screen and (max-width: 767px) {
  nav {
    position: relative;
  }

  nav .unactive {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 77px;
    z-index: 100;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    padding: 0;
    right: -100vw;
  }

  #menu-items .menu-items {
    width: 90%;
    flex-direction: column;
  }

  #menu-items li {
    text-align: center;
    width: 100%;
    margin: 0;
    border-bottom: 1px #fff solid;
  }

  #menu-items li:last-child a {
    padding: 12px 18px;
  }

  #menu-items .menu li:last-child {
    border: none;
    width: 180px;
  }

  nav .active {
    right: 0px;
  }

  header nav #menu-items .menu-items ul {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  #third-section #store,
  #figer,
  #ks .container,
  #fifth-section,
  #subscribe {
    flex-direction: column;
    justify-content: center;
  }

  #fifth-section .members {
    width: 90%;
    align-items: center;
    margin: auto;
    padding: 32px;
  }

  #fifth-section .members:nth-last-of-type(2) {
    margin: 24px auto;
  }

  #subscribe {
    grid-template-columns: 1fr;
  }

  #subscribe #right #con {
    padding: 20px;
  }

  #subscribe #right #con input {
    width: 100%;
  }

  #ks div {
    padding-bottom: 42px;
  }

  #figer {
    text-align: center;
    padding: 14px 24px;
  }
  main .landing-message {
    width: 100%;
  }
  main #back .landing-message h3 {
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  #subscribe #right #con input {
    width: 540px;
  }
  #subscribe {
    height: 480px;
    overflow: hidden;
  }
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
